html, body {
    margin: 0 auto;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    font-size: 13px;
    width: 400px;
}

p {
    margin: 0;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #C6C6C6;
}

img{
    width: 100%;
}

#avatar {
    width: 34px;
    border-radius: 50px;
    align-self: center;
}

.logo{
    width: 127px;
}

.myAvatar{
    border-radius: 50px;
    width: 37px;
    align-self: center;
}

.profDetails{
    padding: 16px;
    display: flex;
    gap: 8px;
}

.icons {
    display: flex;
    gap: 8px;
    padding: 16px;
    margin: 0;

}

.icons img {
    width: 24px;

}

.commenter {
    display: flex;
    gap: 10px;
    margin: 0;
}


.username,
.name,
.numberPeople {
    font-weight: 700;
}

.numberPeople,
.commenter{
    padding-left: 16px;
}

.name {
    margin: 0;
}

.location {
    font-size: 12px;
    margin: 0;
}

